@charset "UTF-8";

.schedule {
  font-family: 'Anton', sans-serif;
}

.text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  line-height: 1.8em;
}

.line-checkerd-flag {
  height: 70px;
  margin: 2em 0;
  background-color: #ffffff;
-webkit-background-size: 50px 50px;
-moz-background-size: 50px 50px;
background-size: 50px 50px;
background-position: 0 0, 25px 25px;
background-image: -webkit-linear-gradient(45deg,  #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%),
                  -webkit-linear-gradient(-135deg, #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%);
background-image: -moz-linear-gradient(45deg,  #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%),
                  -moz-linear-gradient(-135deg, #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%);
background-image: -ms-linear-gradient(45deg,  #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%),
                  -ms-linear-gradient(-135deg, #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%);
background-image: -o-linear-gradient(45deg,  #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%),
                  -o-linear-gradient(-135deg, #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%);
background-image: linear-gradient(45deg,  #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%),
                  linear-gradient(-135deg, #000000 25%, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000 75%);
}

.entry-btn {
  position: relative;
  display: inline-block;
  width: 8em;
  height: 3em;
  line-height: 2.2em;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #3542fd;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-size: 1.2em;
  font-weight: bold;
  border: solid 2px #3542fd;
}

.entry-btn:hover {
  background: #ff7167;
  color: white;
}
